# Ejercicios Modulo 5. Bases de datos con SQLite (Soluciones)

Consideraciones a tener en cuenta: 

* Guardar este documento con el siguiente formato para su entrega: __M5_04_nombre_apellido1_apellido2__
* Realizar los ejercicios con las herramientas vistas en las sesiones. 
* Comentar el código
* Utilizar nombres de variables apropiados, si vais a guardar una nota, llamar a esa variable nota, no n o x

**1) Ejercicio guiado de SQLite. Analiza y prueba el siguiente código:**

In [10]:
import os
import sqlite3

# Definimos la ruta y nombre de la base de datos, por defecto, en el directorio actual
default_path_db = "almacen.db" 
   
''' Función encargada de la conexión a la base de datos '''
def db_connect(db_path = default_path_db):
    conexion = sqlite3.connect(db_path) # Conexión a la base de datos
    return conexion
 
''' Función encargada de crear las tablas de la BD '''
def db_create_tables():
    try:
        # Por claridad, podemos usar la triple comilla para definir el create en varias lineas
        cur.execute("""CREATE TABLE producto (
                              id_producto INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                              descripcion TEXT NOT NULL,
                              precio REAL NOT NULL
                            )""")
        print(" > Tabla producto creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla producto ya existe") 
        
    try:
        cur.execute("""CREATE TABLE cliente (
                              id_cliente INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                              nombre TEXT NOT NULL,
                              apellido TEXT
                            )""")
        print(" > Tabla cliente creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla cliente ya existe") 
        
    try:
        cur.execute("""CREATE TABLE pedido (
                              id_pedido INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                              fecha TEXT NOT NULL,
                              id_cliente INTEGER,
                              FOREIGN KEY (id_cliente) REFERENCES cliente (id_cliente)
                            )""")
        print(" > Tabla pedido creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla pedido ya existe") 
        
    try:
        cur.execute("""CREATE TABLE productos_del_pedido (
                              id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                              id_producto INTEGER NOT NULL,
                              cantidad INTEGER NOT NULL,
                              id_pedido INTEGER NOT NULL,
                              FOREIGN KEY (id_producto) REFERENCES producto (id_producto),
                              FOREIGN KEY (id_pedido) REFERENCES pedido (id_pedido)
                            )""")
        print(" > Tabla productos_del_pedido creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla productos_del_pedido ya existe") 
        
    con.commit() # Se actualizan los cambios pendientes en la BD

''' Función encargada de crear un registro en la tabla producto '''
def db_create_producto(descripcion, precio):
    # Al realizar el insert fijarse que el id no hay que añadirlo porque se definió como autoincremental
    sql = """
        INSERT INTO producto (descripcion, precio)
        VALUES (?, ?)"""
    cur.execute(sql, (descripcion, precio))
    return cur.lastrowid

''' Función encargada de crear un registro en la tabla cliente '''
def db_create_cliente(nombre, apellido):
    sql = """
        INSERT INTO cliente (nombre, apellido)
        VALUES (?, ?)"""
    cur.execute(sql, (nombre, apellido))
    return cur.lastrowid

''' Función encargada de crear un registro en la tabla pedido '''
def db_create_pedido(fecha, id_cliente):
    sql = """
        INSERT INTO pedido (fecha, id_cliente)
        VALUES (?, ?)"""
    cur.execute(sql, (fecha, id_cliente))
    return cur.lastrowid

''' Función encargada de crear un registro en la tabla pedido '''
def db_create_productos_del_pedido(id_producto, cantidad, id_pedido):
    sql = """
        INSERT INTO productos_del_pedido
            (id_producto, cantidad, id_pedido)
        VALUES (?, ?, ?)"""
    cur.execute(sql, (id_producto, cantidad, id_pedido))
    return cur.lastrowid
    
''' Función que resetea la base de datos eliminando sus tablas '''
def db_reset_database():
    cur.execute("DROP TABLE IF EXISTS producto")
    cur.execute("DROP TABLE IF EXISTS cliente")
    cur.execute("DROP TABLE IF EXISTS pedido")
    cur.execute("DROP TABLE IF EXISTS productos_del_pedido")
    con.commit() # Se actualizan los cambios pendientes en la BD
    print(" > Reset DB ... OK")
    
def db_select_all(nombre_tabla):
    print("\n=== REGISTROS DE LA TABLA", nombre_tabla.upper(), "===")
    cur.execute("SELECT * FROM {}".format(nombre_tabla))
    resultados = cur.fetchall()
    for registro in resultados:
        print(registro)
    

''' Función pricipal del programa '''
if __name__ == "__main__":
    
    con = db_connect() # Invocamos a la función que establece la conexión con la BD
    cur = con.cursor()  # Se crea el cursor para la BD
    
    db_reset_database() # Borramos las tablas de la base de datos antes de empezar
    db_create_tables() # Crear las tablas
    
    # En esta ocasión no vamos a insertar todos los datos de golpe
    # Vamos a crear un método para insertar cada registro de manera individual
    # Esta técnica es muy utilizada si la metodología estándar de inserción de datos es a través de formularios
    num = db_create_producto("Macbook Pro 13 pulgadas", 1200.00) # descripcion, precio
    db_create_producto("Dell Ultrasharp", 1500.00)
    db_create_producto("Iphone 5S", 900.50)
    db_create_producto("One Plus 6T", 499.00)
    db_create_producto("Applewatch", 399.70)
    
    db_create_cliente("Cristian", "Rodríguez") # nombre, apellido
    db_create_cliente("David", "Álvarez")
    db_create_cliente("Sara", "Campos")
    db_create_cliente("Lara", "Pérez")
    db_create_cliente("Sofía", "Rodríguez")
    
    db_create_pedido("2020-12-20", 1) # fecha, id_cliente
    db_create_pedido("2020-12-21", 2)
    db_create_pedido("2020-12-21", 3)
    db_create_pedido("2020-12-24", 1)
    db_create_pedido("2020-12-27", 5)
    db_create_pedido("2020-12-25", 1)
    db_create_pedido("2020-12-26", 1)
    db_create_pedido("2020-12-27", 1)
    db_create_pedido("2020-12-28", 1)
    db_create_pedido("2020-12-29", 1)
    
    
    db_create_productos_del_pedido(1, 2, 1) # id_producto, cantidad, id_pedido
    db_create_productos_del_pedido(2, 1, 1)
    db_create_productos_del_pedido(5, 3, 1)
    db_create_productos_del_pedido(1, 1, 2)
    db_create_productos_del_pedido(3, 1, 3)
    db_create_productos_del_pedido(4, 2, 3)
    db_create_productos_del_pedido(5, 5, 4)
    db_create_productos_del_pedido(1, 1, 5)
    db_create_productos_del_pedido(2, 1, 5)
    db_create_productos_del_pedido(3, 1, 5)
    db_create_productos_del_pedido(4, 1, 5)
    db_create_productos_del_pedido(5, 1, 5)
    
    # Hacemos unos selects generales para comprobar que los inserts se hayan realizado correctamente
    db_select_all("cliente")
    db_select_all("producto")
    db_select_all("pedido")
    db_select_all("productos_del_pedido")
    
    print("\n=== CONSULTA AVANZADA 1 ===")
    # Vamos a mezclar la tabla pedido y la tabla cliente, vamos a mostrar los pedidos y el nombre del cliente que los hizo
    cur.execute('''SELECT pedido.id_pedido,pedido.fecha,pedido.id_cliente,cliente.nombre 
                FROM pedido INNER JOIN cliente 
                ON pedido.id_cliente = cliente.id_cliente
                ''')
    resultados = cur.fetchall()
    for registro in resultados:
        print(registro)
        
    # Mejoremos el diseño de la salida por pantalla
    print("\n=== CONSULTA AVANZADA 1 (SALIDA POR PANTALLA MEJORADA) ===")
    cur.execute('''SELECT pedido.id_pedido,pedido.fecha,pedido.id_cliente,cliente.nombre 
                FROM pedido INNER JOIN cliente 
                ON pedido.id_cliente = cliente.id_cliente
                ''')
    titulo_id_pedido, titulo_fecha, titulo_id_cliente, titulo_nombre = "ID_PEDIDO", "FECHA", "ID_CLIENTE", "NOMBRE"
    print(f"{titulo_id_pedido:<12}{titulo_fecha:<15}{titulo_id_cliente:<12}{titulo_nombre:<10}")
    for id_pedido, fecha, id_cliente, nombre in cur.fetchall():
        print(f"{id_pedido:<12}{fecha:<15}{id_cliente:<12}{nombre:<10}")
    
        
    
    # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 
    # ZONA DE EXPERIMENTACIÓN                                                                                   #
    # Una vez llegado aquí, realiza alguna consulta más, tenemos una tabla de pedido y una tabla de pedidos y   #
    # una tabla que contiene los productos de cada pedido. Estas dos tablas estan relacionadas, se puede sacar  #
    # información del inner join de ambas.                                                                      #
    # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # # 
    
     # Consulta de prueba
    print("\n=== CONSULTA DE PRUEBA 1 (BUSCAMOS EL PEDIDO CON NUMERO >= 4 Y < 8 A NOMBRE DE Cristian) ===")
    cur.execute('''SELECT pedido.id_pedido,pedido.fecha,pedido.id_cliente,cliente.nombre 
                FROM pedido INNER JOIN cliente 
                ON pedido.id_cliente = cliente.id_cliente
                WHERE cliente.nombre = "Cristian" AND pedido.id_pedido >= 4 AND pedido.id_pedido < 8
                ''')
    titulo_id_pedido, titulo_fecha, titulo_id_cliente, titulo_nombre = "ID_PEDIDO", "FECHA", "ID_CLIENTE", "NOMBRE"
    print(f"{titulo_id_pedido:<12}{titulo_fecha:<15}{titulo_id_cliente:<12}{titulo_nombre:<10}")
    for id_pedido, fecha, id_cliente, nombre in cur.fetchall():
        print(f"{id_pedido:<12}{fecha:<15}{id_cliente:<12}{nombre:<10}")
    
    db_reset_database()
    
    
    try:
        con.commit() # Se actualizan los cambios pendientes en la BD
        con.close() # Se cierra la conexión
    except:
        con.rollback() # rollback devuelve la bd al último commit
        raise RuntimeError("Ha ocurrido un error ... Volviendo al commit anterior ... ")

 > Reset DB ... OK
 > Tabla producto creada con éxito
 > Tabla cliente creada con éxito
 > Tabla pedido creada con éxito
 > Tabla productos_del_pedido creada con éxito

=== REGISTROS DE LA TABLA CLIENTE ===
(1, 'Cristian', 'Rodríguez')
(2, 'David', 'Álvarez')
(3, 'Sara', 'Campos')
(4, 'Lara', 'Pérez')
(5, 'Sofía', 'Rodríguez')

=== REGISTROS DE LA TABLA PRODUCTO ===
(1, 'Macbook Pro 13 pulgadas', 1200.0)
(2, 'Dell Ultrasharp', 1500.0)
(3, 'Iphone 5S', 900.5)
(4, 'One Plus 6T', 499.0)
(5, 'Applewatch', 399.7)

=== REGISTROS DE LA TABLA PEDIDO ===
(1, '2020-12-20', 1)
(2, '2020-12-21', 2)
(3, '2020-12-21', 3)
(4, '2020-12-24', 1)
(5, '2020-12-27', 5)
(6, '2020-12-25', 1)
(7, '2020-12-26', 1)
(8, '2020-12-27', 1)
(9, '2020-12-28', 1)
(10, '2020-12-29', 1)

=== REGISTROS DE LA TABLA PRODUCTOS_DEL_PEDIDO ===
(1, 1, 2, 1)
(2, 2, 1, 1)
(3, 5, 3, 1)
(4, 1, 1, 2)
(5, 3, 1, 3)
(6, 4, 2, 3)
(7, 5, 5, 4)
(8, 1, 1, 5)
(9, 2, 1, 5)
(10, 3, 1, 5)
(11, 4, 1, 5)
(12, 5, 1, 5)

=== CONSULTA AVANZADA 1 ===
(1, '2020-12-20', 1, 'Cristian')
(2, '2020-12-21', 2, 'David')
(3, '2020-12-21', 3, 'Sara')
(4, '2020-12-24', 1, 'Cristian')
(5, '2020-12-27', 5, 'Sofía')
(6, '2020-12-25', 1, 'Cristian')
(7, '2020-12-26', 1, 'Cristian')
(8, '2020-12-27', 1, 'Cristian')
(9, '2020-12-28', 1, 'Cristian')
(10, '2020-12-29', 1, 'Cristian')

=== CONSULTA AVANZADA 1 (SALIDA POR PANTALLA MEJORADA) ===
ID_PEDIDO   FECHA          ID_CLIENTE  NOMBRE
1           2020-12-20     1           Cristian
2           2020-12-21     2           David
3           2020-12-21     3           Sara
4           2020-12-24     1           Cristian
5           2020-12-27     5           Sofía
6           2020-12-25     1           Cristian
7           2020-12-26     1           Cristian
8           2020-12-27     1           Cristian
9           2020-12-28     1           Cristian
10          2020-12-29     1           Cristian

=== CONSULTA DE PRUEBA 1 (BUSCAMOS EL PEDIDO CON NUMERO >= 4 Y < 8 A NOMBRE DE Cristian) ===
ID_PEDIDO   FECHA          ID_CLIENTE  NOMBRE
4           2020-12-24     1           Cristian
6           2020-12-25     1           Cristian
7           2020-12-26     1           Cristian
 > Reset DB ... OK

**1) Practiquemos un poco con SQLite:**

* Crea una base de datos que se llame biblioteca
* Crea las siguiente tablas (deberás poner los tipos de los atributos con lógica, investiga cuales hay en SQLite para poder hacerlo):
    * autor(dni, nombre, apellidos, estarVivo)
    * libro(isbn, titulo, editorial, año_escrito)
    * usuario(dni, nombre, apellidos, numPrestamos)
* Inserta al menos 3 registros en cada una de las tablas
    * En autor, algunos vivos y otros muertos
    * En libro, algunos con año de escritura anerior a 1900 y otros después
    * En usuario, algunos con más de 10 prestamos y otros con menos
* Comprueba que todo este correcto con DB Browser (SQLite)
* Realiza las siguientes consultas:
    * Lista a todos los autores
    * Lista todos los libros
    * Lista todos los usuarios
    * Lista todos los autores que esten vivos (CLAUSULA WHERE)
    * Lista todos los libros que hayan sido escritos posteriormente a 1900
    * Lista todos los usuarios que se hayan llevado más de 10 libros y que se llamen Paco

In [8]:
# Completa el ejercicio aquí
# Completa el ejercicio aquí - Replico las importaciones para hacer autónoma esta celda.
import os
import sqlite3

# Ruta a la base de datos biblioteca
DEFAULT_PATH_DB = "biblioteca.db" 

#Redefino aquí las funciones para hacer autónoma esta celda.
#Función para conectar a la base de datos
def db_connect(db_path):
    con = sqlite3.connect(db_path) # Conexión a la base de datos
    return con


#creamos una función para crear las tablas solicitadas:
#    * autor(dni, nombre, apellidos, estarVivo)
#    * libro(isbn, titulo, editorial, año_escrito)
#    * usuario(dni, nombre, apellidos, numPrestamos)

def db_create_tables():
    try:
        cur.execute("""CREATE TABLE autores (
                              id_autor INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                              dni  TEXT NOT NULL,
                              nombre  TEXT NOT NULL,
                              apellidos  TEXT NOT NULL,
                              estarvivo INTEGER NOT NULL
                            )""")
        print(" > Tabla autores creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla autores ya existe") 
        
    try:
        cur.execute("""CREATE TABLE libros (
                              id_libro INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                              isbn TEXT NOT NULL,
                              titulo TEXT NOT NULL,
                              editorial TEXT NOT NULL,
                              año_escrito INTEGER NOT NULL,
                              id_autor INTEGER NOT NULL,
                              FOREIGN KEY (id_autor) REFERENCES autores (id_autor)
                            )""")
        print(" > Tabla libros creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla libros ya existe") 
        
    try:
        cur.execute("""CREATE TABLE usuarios (
                              id_usuario INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                              dni TEXT NOT NULL,
                              nombre  TEXT NOT NULL,
                              apellidos  TEXT NOT NULL,
                              numPrestamos INTEGER NOT NULL,
                              numPrestamoactual INTEGER NOT NULL
                            )""")
        print(" > Tabla usuarios creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla usuarios ya existe") 
    
    try:
        cur.execute("""CREATE TABLE prestamos (
                              id_prestamo INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                              id_usuario INTEGER NOT NULL,
                              numlibros INTEGER NOT NULL,
                              FOREIGN KEY (id_usuario) REFERENCES usuarios (id_usuario)
                            )""")
        print(" > Tabla prestamos creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla prestamos ya existe") 
       
    try:
        cur.execute("""CREATE TABLE libros_del_prestamo (
                              id INTEGER PRIMARY KEY AUTOINCREMENT NOT NULL,
                              id_prestamo INTEGER NOT NULL,
                              id_libro INTEGER NOT NULL,
                              FOREIGN KEY (id_libro) REFERENCES libros (id_libro),
                              FOREIGN KEY (id_prestamo) REFERENCES prestamos (id_prestamo)
                            )""")
        print(" > Tabla libros_del_prestamo creada con éxito")                        
    except sqlite3.OperationalError:
        print(" > La tabla libros_del_prestamo ya existe") 
        
    con.commit() # Se actualizan los cambios pendientes en la BD

#Función para crear autores en la base de datos
def db_crea_autor(dni, nombre, apellidos, estarvivo):
    # Al realizar el insert fijarse que el id no hay que añadirlo porque se definió como autoincremental
    sql = """
        INSERT INTO autores (dni, nombre, apellidos, estarvivo)
        VALUES (?, ?, ?, ?)"""
    cur.execute(sql, (dni, nombre, apellidos, estarvivo))
    return cur.lastrowid

#Función para crear libros en la base de datos
def db_crea_libro(isbn, titulo, editorial, año_escrito, id_autor):
    # Al realizar el insert fijarse que el id no hay que añadirlo porque se definió como autoincremental
    sql = """
        INSERT INTO libros (isbn, titulo, editorial, año_escrito, id_autor)
        VALUES (?, ?, ?, ?, ?)"""
    cur.execute(sql, (isbn, titulo, editorial, año_escrito, id_autor))
    return cur.lastrowid

#Función para crear usuarios en la base de datos
def db_crea_usuario(dni, nombre, apellidos, numPrestamos, numPrestamoactual):
    # Al realizar el insert fijarse que el id no hay que añadirlo porque se definió como autoincremental
    sql = """
        INSERT INTO usuarios (dni, nombre, apellidos, numPrestamos, numPrestamoactual)
        VALUES (?, ?, ?, ?, ?)"""
    cur.execute(sql, (dni, nombre, apellidos, numPrestamos, numPrestamoactual))
    return cur.lastrowid

#Función para crear usuarios en la base de datos
def db_crea_prestamo(id_usuario, numlibros):
    # Al realizar el insert fijarse que el id no hay que añadirlo porque se definió como autoincremental
    sql = """
        INSERT INTO prestamos (id_usuario, numlibros)
        VALUES (?, ?)"""
    cur.execute(sql, (id_usuario, numlibros))
    return cur.lastrowid

#Función para crear usuarios en la base de datos
def db_crea_libros_del_prestamo(id_prestamo, id_libro):
    # Al realizar el insert fijarse que el id no hay que añadirlo porque se definió como autoincremental
    sql = """
        INSERT INTO libros_del_prestamo (id_prestamo, id_libro)
        VALUES (?, ?)"""
    cur.execute(sql, (id_prestamo, id_libro))
    return cur.lastrowid


#Reset de la base de datos
def db_reset_database():
    cur.execute("DROP TABLE IF EXISTS autores")
    cur.execute("DROP TABLE IF EXISTS libros")
    cur.execute("DROP TABLE IF EXISTS usuarios")
    cur.execute("DROP TABLE IF EXISTS prestamosusuarios")
    cur.execute("DROP TABLE IF EXISTS libros_del_prestamo")
    con.commit() # Se actualizan los cambios pendientes en la BD
    print(" > Borrado de la base de datos --->  OK")
    
    
#Función que selecciona todos los registros de la tabla que se le indique
def db_select_all(nombre_tabla):
    print("\n=== REGISTROS DE LA TABLA", nombre_tabla.upper(), "===")
    cur.execute("SELECT * FROM {}".format(nombre_tabla))
    resultados = cur.fetchall()
    for registro in resultados:
        print(registro)    
        

#Programa principal
if __name__ == "__main__":
    #Conectamos con la base de datos
    #1.- Conexión: Conectamos con la base de datos cuyo path está en la constante default_path_db
    con = db_connect(DEFAULT_PATH_DB)
    #2.- Cursor
    cur = con.cursor()
    
    db_create_tables()
    #Creamos los autores (0 = muerto y 1 = vivo) 
    db_crea_autor("12345678P", "George1", "Orwell1", 0)
    db_crea_autor("22222222P", "George2", "Orwell2", 0)
    db_crea_autor("33333333P", "George3", "Orwell3", 1)
    db_crea_autor("44444444P", "George4", "Orwell4", 0)
    db_crea_autor("55555555P", "George5", "Orwell5", 1)
    db_crea_autor("66666666P", "George6", "Orwell6", 0)
    db_crea_autor("77777777P", "George7", "Orwell7", 1)
    db_crea_autor("88888888P", "George8", "Orwell8", 1)
    db_crea_autor("99999999P", "George9", "Orwell9", 0)
    db_crea_autor("10101010P", "George0", "Orwell0", 0)


    #Creamos libros 
    db_crea_libro("12345678P","Titulo 1", "Editorial 1", 1850, 1)
    db_crea_libro("12345678P","Titulo 2", "Editorial 2", 1851, 2)
    db_crea_libro("12345678P","Titulo 3", "Editorial 1", 1852, 3)
    db_crea_libro("12345678P","Titulo 4", "Editorial 1", 2001, 4)
    db_crea_libro("12345678P","Titulo 5", "Editorial 2", 1850, 5)
    db_crea_libro("12345678P","Titulo 6", "Editorial 2", 1850, 1)
    db_crea_libro("12345678P","Titulo 7", "Editorial 2", 2001, 3)
    db_crea_libro("12345678P","Titulo 8", "Editorial 3", 1850, 7)
    db_crea_libro("12345678P","Titulo 9", "Editorial 4", 2011, 10)
    db_crea_libro("12345678P","Titulo 10", "Editorial 5", 2021, 9)
    db_crea_libro("12345678P","Titulo 11", "Editorial 6", 1850, 8)
    db_crea_libro("12345678P","Titulo 12", "Editorial 6", 2012, 8)
    db_crea_libro("12345678P","Titulo 13", "Editorial 6", 1850, 8)
    db_crea_libro("12345678P","Titulo 14", "Editorial 7", 1830, 8)
    db_crea_libro("12345678P","Titulo 15", "Editorial 1", 1830, 6)
    db_crea_libro("12345678P","Titulo 16", "Editorial 1", 1810, 5)
    db_crea_libro("12345678P","Titulo 17", "Editorial 1", 1820, 7)
    
    
    #Creamos usuarios 
    db_crea_usuario("12345678P","Paco", "Apellidos 1", 1, 1)
    db_crea_usuario("12345678P","Nombre1", "Apellidos 1", 11, 1)
    db_crea_usuario("12345678P","Nombre1", "Apellidos 1", 12, 1)
    db_crea_usuario("12345678P","Paco", "Apellidos 1", 1, 1)
    db_crea_usuario("12345678P","Nombre1", "Apellidos 1", 1, 1)
    db_crea_usuario("12345678P","Nombre1", "Apellidos 1", 20, 1)
    db_crea_usuario("12345678P","Paco", "Apellidos 1", 15, 1)
    db_crea_usuario("12345678P","Nombre1", "Apellidos 1", 15, 1)
    db_crea_usuario("12345678P","Nombre1", "Apellidos 1", 3, 1)
    db_crea_usuario("12345678P","Paco", "Apellidos 1", 32, 1)
    db_crea_usuario("12345678P","Paco", "Apellidos 1", 1, 1)
    
             
    #Lista a todos los autores
    db_select_all('autores')
    #Lista todos los libros
    db_select_all('libros')
    #Lista todos los usuarios
    db_select_all('usuarios')
    #Lista todos los autores que esten vivos (CLAUSULA WHERE)
    print("\n=== CONSULTA AUTORES VIVOS  ===")
    cur.execute('''SELECT autores.nombre, autores.apellidos, autores.estarvivo 
                FROM autores 
                WHERE autores.estarvivo = 1
                ''')
    autores_nombre = "NOMBRE"
    autores_apellidos = "APELLIDOS"
    autores_estarvivo = "VIVO"
    print(f"{autores_nombre:<12}{autores_apellidos:<15}{autores_estarvivo:<15}")
    for autores_nombre, autores_apellidos, autores_estarvivo in cur.fetchall():
        print(f"{autores_nombre:<12}{autores_apellidos:<15}{autores_estarvivo:<15}")
    
    #Lista todos los autores que no esten vivos 
    print("\n=== CONSULTA AUTORES MUERTOS  ===")
    cur.execute('''SELECT autores.nombre, autores.apellidos, autores.estarvivo 
                FROM autores 
                WHERE autores.estarvivo = 0
                ''')
    autores_nombre = "NOMBRE"
    autores_apellidos = "APELLIDOS"
    autores_estarvivo = "VIVO"
    print(f"{autores_nombre:<12}{autores_apellidos:<15}{autores_estarvivo:<15}")
    for autores_nombre, autores_apellidos, autores_estarvivo in cur.fetchall():
        print(f"{autores_nombre:<12}{autores_apellidos:<15}{autores_estarvivo:<15}")
          
    
    #Lista todos los libros que hayan sido escritos posteriormente a 1900. El nombre y apellidos del autor lo sacamos de la tabla vinculada.
    print("\n=== CONSULTA LIBROS ESCRITOS ANTES DE 1900 ===")
    cur.execute('''SELECT libros.id_libro, libros.isbn, libros.titulo, libros.editorial, libros.año_escrito, libros.id_autor, autores.nombre, autores.apellidos 
                FROM libros INNER JOIN autores
                ON libros.id_autor = autores.id_autor
                WHERE libros.año_escrito < 1900
                ''')
    libros_id = "ID"
    libros_isbn = "Isbn"
    libros_titulo = "Titulo"
    libros_editorial = "Editorial"
    libros_año_escrito = "Año"
    libros_id_autor = "Autor"
    libros_autor_nombre = "Nombre Autor"
    libros_autor_apellidos = "Apellidos Autor"
    
    print(f"{libros_id:<12}{libros_isbn:<15}{libros_titulo:<15}{libros_editorial:<15}{libros_año_escrito:<15}{libros_id_autor:<15}{libros_autor_nombre:<15}{libros_autor_apellidos:<15}")
    for libros_id,libros_isbn,libros_titulo,libros_editorial,libros_año_escrito,libros_id_autor,libros_autor_nombre,libros_autor_apellidos   in cur.fetchall():
         print(f"{libros_id:<12}{libros_isbn:<15}{libros_titulo:<15}{libros_editorial:<15}{libros_año_escrito:<15}{libros_id_autor:<15}{libros_autor_nombre:<15}{libros_autor_apellidos:<15}")
          
        
    #Lista todos los usuarios que se hayan llevado más de 10 libros y que se llamen Paco
    print("\n=== CONSULTA USUARIOS LLAMADOS PACO QUE SE HAN LLEVADO MÁS DE 10 LIBROS ===")
    cur.execute('''SELECT usuarios.id_usuario, usuarios.dni, usuarios.nombre, usuarios.apellidos, usuarios.numPrestamos 
                FROM usuarios
                WHERE usuarios.nombre = "Paco" AND usuarios.numPrestamos > 10
                ''')
    usuarios_id = "ID"
    usuarios_dni = "DNI"
    usuarios_nombre = "NOMBRE"
    usuarios_apellidos = "APELLIDOS"
    usuarios_numprestamo = "NUMERO LIBROS PRESTADOS"
        
    print(f"{usuarios_id:<12}{usuarios_dni:<15}{usuarios_nombre:<15}{usuarios_apellidos:<15}{usuarios_numprestamo:<15}")
    for usuarios_id,usuarios_dni,usuarios_nombre,usuarios_apellidos,usuarios_numprestamo in cur.fetchall():
        print(f"{usuarios_id:<12}{usuarios_dni:<15}{usuarios_nombre:<15}{usuarios_apellidos:<15}{usuarios_numprestamo:<15}")

    #Borramos la base de datos. Esto hace que se genere de nuevo tras cada ejecución.
    #Esto no tiene mucho sentido en una base de datos normal, pero vale para el ejercicio propuesto.
    
    #db_reset_database()
    
    try:
        con.commit() # Se actualizan los cambios pendientes en la BD
        con.close() # Se cierra la conexión

    except:
        con.rollback() # rollback devuelve la bd al último commit
        raise RuntimeError("Ha ocurrido un error ... Volviendo al commit anterior ... ")

 > La tabla autores ya existe
 > La tabla libros ya existe
 > La tabla usuarios ya existe
 > La tabla prestamos ya existe
 > La tabla libros_del_prestamo ya existe

=== REGISTROS DE LA TABLA AUTORES ===
(1, '12345678P', 'George1', 'Orwell1', 0)
(2, '22222222P', 'George2', 'Orwell2', 0)
(3, '33333333P', 'George3', 'Orwell3', 1)
(4, '44444444P', 'George4', 'Orwell4', 0)
(5, '55555555P', 'George5', 'Orwell5', 1)
(6, '66666666P', 'George6', 'Orwell6', 0)
(7, '77777777P', 'George7', 'Orwell7', 1)
(8, '88888888P', 'George8', 'Orwell8', 1)
(9, '99999999P', 'George9', 'Orwell9', 0)
(10, '10101010P', 'George0', 'Orwell0', 0)
(11, '12345678P', 'George1', 'Orwell1', 0)
(12, '22222222P', 'George2', 'Orwell2', 0)
(13, '33333333P', 'George3', 'Orwell3', 1)
(14, '44444444P', 'George4', 'Orwell4', 0)
(15, '55555555P', 'George5', 'Orwell5', 1)
(16, '66666666P', 'George6', 'Orwell6', 0)
(17, '77777777P', 'George7', 'Orwell7', 1)
(18, '88888888P', 'George8', 'Orwell8', 1)
(19, '99999999P', 'George9', 'Orwell9', 0)
(20, '10101010P', 'George0', 'Orwell0', 0)
(21, '12345678P', 'George1', 'Orwell1', 0)
(22, '22222222P', 'George2', 'Orwell2', 0)
(23, '33333333P', 'George3', 'Orwell3', 1)
(24, '44444444P', 'George4', 'Orwell4', 0)
(25, '55555555P', 'George5', 'Orwell5', 1)
(26, '66666666P', 'George6', 'Orwell6', 0)
(27, '77777777P', 'George7', 'Orwell7', 1)
(28, '88888888P', 'George8', 'Orwell8', 1)
(29, '99999999P', 'George9', 'Orwell9', 0)
(30, '10101010P', 'George0', 'Orwell0', 0)
(31, '12345678P', 'George1', 'Orwell1', 0)
(32, '22222222P', 'George2', 'Orwell2', 0)
(33, '33333333P', 'George3', 'Orwell3', 1)
(34, '44444444P', 'George4', 'Orwell4', 0)
(35, '55555555P', 'George5', 'Orwell5', 1)
(36, '66666666P', 'George6', 'Orwell6', 0)
(37, '77777777P', 'George7', 'Orwell7', 1)
(38, '88888888P', 'George8', 'Orwell8', 1)
(39, '99999999P', 'George9', 'Orwell9', 0)
(40, '10101010P', 'George0', 'Orwell0', 0)
(41, '12345678P', 'George1', 'Orwell1', 0)
(42, '22222222P', 'George2', 'Orwell2', 0)
(43, '33333333P', 'George3', 'Orwell3', 1)
(44, '44444444P', 'George4', 'Orwell4', 0)
(45, '55555555P', 'George5', 'Orwell5', 1)
(46, '66666666P', 'George6', 'Orwell6', 0)
(47, '77777777P', 'George7', 'Orwell7', 1)
(48, '88888888P', 'George8', 'Orwell8', 1)
(49, '99999999P', 'George9', 'Orwell9', 0)
(50, '10101010P', 'George0', 'Orwell0', 0)
(51, '12345678P', 'George1', 'Orwell1', 0)
(52, '22222222P', 'George2', 'Orwell2', 0)
(53, '33333333P', 'George3', 'Orwell3', 1)
(54, '44444444P', 'George4', 'Orwell4', 0)
(55, '55555555P', 'George5', 'Orwell5', 1)
(56, '66666666P', 'George6', 'Orwell6', 0)
(57, '77777777P', 'George7', 'Orwell7', 1)
(58, '88888888P', 'George8', 'Orwell8', 1)
(59, '99999999P', 'George9', 'Orwell9', 0)
(60, '10101010P', 'George0', 'Orwell0', 0)
(61, '12345678P', 'George1', 'Orwell1', 0)
(62, '22222222P', 'George2', 'Orwell2', 0)
(63, '33333333P', 'George3', 'Orwell3', 1)
(64, '44444444P', 'George4', 'Orwell4', 0)
(65, '55555555P', 'George5', 'Orwell5', 1)
(66, '66666666P', 'George6', 'Orwell6', 0)
(67, '77777777P', 'George7', 'Orwell7', 1)
(68, '88888888P', 'George8', 'Orwell8', 1)
(69, '99999999P', 'George9', 'Orwell9', 0)
(70, '10101010P', 'George0', 'Orwell0', 0)

=== REGISTROS DE LA TABLA LIBROS ===
(1, '12345678P', 'Titulo 1', 'Editorial 1', 1850, 1)
(2, '12345678P', 'Titulo 2', 'Editorial 2', 1851, 2)
(3, '12345678P', 'Titulo 3', 'Editorial 1', 1852, 3)
(4, '12345678P', 'Titulo 4', 'Editorial 1', 2001, 4)
(5, '12345678P', 'Titulo 5', 'Editorial 2', 1850, 5)
(6, '12345678P', 'Titulo 6', 'Editorial 2', 1850, 1)
(7, '12345678P', 'Titulo 7', 'Editorial 2', 2001, 3)
(8, '12345678P', 'Titulo 8', 'Editorial 3', 1850, 7)
(9, '12345678P', 'Titulo 9', 'Editorial 4', 2011, 10)
(10, '12345678P', 'Titulo 10', 'Editorial 5', 2021, 9)
(11, '12345678P', 'Titulo 11', 'Editorial 6', 1850, 8)
(12, '12345678P', 'Titulo 12', 'Editorial 6', 2012, 8)
(13, '12345678P', 'Titulo 13', 'Editorial 6', 1850, 8)
(14, '12345678P', 'Titulo 14', 'Editorial 7', 1830, 8)
(15, '12345678P', 'Titulo 15', 'Editorial 1', 1830, 6)
(16, '12345678P', 'Titulo 16', 'Editorial 1', 1810, 5)
(17, '12345678P', 'Titulo 17', 'Editorial 1', 1820, 7)
(18, '12345678P', 'Titulo 1', 'Editorial 1', 1850, 1)
(19, '12345678P', 'Titulo 2', 'Editorial 2', 1851, 2)
(20, '12345678P', 'Titulo 3', 'Editorial 1', 1852, 3)
(21, '12345678P', 'Titulo 4', 'Editorial 1', 2001, 4)
(22, '12345678P', 'Titulo 5', 'Editorial 2', 1850, 5)
(23, '12345678P', 'Titulo 6', 'Editorial 2', 1850, 1)
(24, '12345678P', 'Titulo 7', 'Editorial 2', 2001, 3)
(25, '12345678P', 'Titulo 8', 'Editorial 3', 1850, 7)
(26, '12345678P', 'Titulo 9', 'Editorial 4', 2011, 10)
(27, '12345678P', 'Titulo 10', 'Editorial 5', 2021, 9)
(28, '12345678P', 'Titulo 11', 'Editorial 6', 1850, 8)
(29, '12345678P', 'Titulo 12', 'Editorial 6', 2012, 8)
(30, '12345678P', 'Titulo 13', 'Editorial 6', 1850, 8)
(31, '12345678P', 'Titulo 14', 'Editorial 7', 1830, 8)
(32, '12345678P', 'Titulo 15', 'Editorial 1', 1830, 6)
(33, '12345678P', 'Titulo 16', 'Editorial 1', 1810, 5)
(34, '12345678P', 'Titulo 17', 'Editorial 1', 1820, 7)
(35, '12345678P', 'Titulo 1', 'Editorial 1', 1850, 1)
(36, '12345678P', 'Titulo 2', 'Editorial 2', 1851, 2)
(37, '12345678P', 'Titulo 3', 'Editorial 1', 1852, 3)
(38, '12345678P', 'Titulo 4', 'Editorial 1', 2001, 4)
(39, '12345678P', 'Titulo 5', 'Editorial 2', 1850, 5)
(40, '12345678P', 'Titulo 6', 'Editorial 2', 1850, 1)
(41, '12345678P', 'Titulo 7', 'Editorial 2', 2001, 3)
(42, '12345678P', 'Titulo 8', 'Editorial 3', 1850, 7)
(43, '12345678P', 'Titulo 9', 'Editorial 4', 2011, 10)
(44, '12345678P', 'Titulo 10', 'Editorial 5', 2021, 9)
(45, '12345678P', 'Titulo 11', 'Editorial 6', 1850, 8)
(46, '12345678P', 'Titulo 12', 'Editorial 6', 2012, 8)
(47, '12345678P', 'Titulo 13', 'Editorial 6', 1850, 8)
(48, '12345678P', 'Titulo 14', 'Editorial 7', 1830, 8)
(49, '12345678P', 'Titulo 15', 'Editorial 1', 1830, 6)
(50, '12345678P', 'Titulo 16', 'Editorial 1', 1810, 5)
(51, '12345678P', 'Titulo 17', 'Editorial 1', 1820, 7)
(52, '12345678P', 'Titulo 1', 'Editorial 1', 1850, 1)
(53, '12345678P', 'Titulo 2', 'Editorial 2', 1851, 2)
(54, '12345678P', 'Titulo 3', 'Editorial 1', 1852, 3)
(55, '12345678P', 'Titulo 4', 'Editorial 1', 2001, 4)
(56, '12345678P', 'Titulo 5', 'Editorial 2', 1850, 5)
(57, '12345678P', 'Titulo 6', 'Editorial 2', 1850, 1)
(58, '12345678P', 'Titulo 7', 'Editorial 2', 2001, 3)
(59, '12345678P', 'Titulo 8', 'Editorial 3', 1850, 7)
(60, '12345678P', 'Titulo 9', 'Editorial 4', 2011, 10)
(61, '12345678P', 'Titulo 10', 'Editorial 5', 2021, 9)
(62, '12345678P', 'Titulo 11', 'Editorial 6', 1850, 8)
(63, '12345678P', 'Titulo 12', 'Editorial 6', 2012, 8)
(64, '12345678P', 'Titulo 13', 'Editorial 6', 1850, 8)
(65, '12345678P', 'Titulo 14', 'Editorial 7', 1830, 8)
(66, '12345678P', 'Titulo 15', 'Editorial 1', 1830, 6)
(67, '12345678P', 'Titulo 16', 'Editorial 1', 1810, 5)
(68, '12345678P', 'Titulo 17', 'Editorial 1', 1820, 7)
(69, '12345678P', 'Titulo 1', 'Editorial 1', 1850, 1)
(70, '12345678P', 'Titulo 2', 'Editorial 2', 1851, 2)
(71, '12345678P', 'Titulo 3', 'Editorial 1', 1852, 3)
(72, '12345678P', 'Titulo 4', 'Editorial 1', 2001, 4)
(73, '12345678P', 'Titulo 5', 'Editorial 2', 1850, 5)
(74, '12345678P', 'Titulo 6', 'Editorial 2', 1850, 1)
(75, '12345678P', 'Titulo 7', 'Editorial 2', 2001, 3)
(76, '12345678P', 'Titulo 8', 'Editorial 3', 1850, 7)
(77, '12345678P', 'Titulo 9', 'Editorial 4', 2011, 10)
(78, '12345678P', 'Titulo 10', 'Editorial 5', 2021, 9)
(79, '12345678P', 'Titulo 11', 'Editorial 6', 1850, 8)
(80, '12345678P', 'Titulo 12', 'Editorial 6', 2012, 8)
(81, '12345678P', 'Titulo 13', 'Editorial 6', 1850, 8)
(82, '12345678P', 'Titulo 14', 'Editorial 7', 1830, 8)
(83, '12345678P', 'Titulo 15', 'Editorial 1', 1830, 6)
(84, '12345678P', 'Titulo 16', 'Editorial 1', 1810, 5)
(85, '12345678P', 'Titulo 17', 'Editorial 1', 1820, 7)
(86, '12345678P', 'Titulo 1', 'Editorial 1', 1850, 1)
(87, '12345678P', 'Titulo 2', 'Editorial 2', 1851, 2)
(88, '12345678P', 'Titulo 3', 'Editorial 1', 1852, 3)
(89, '12345678P', 'Titulo 4', 'Editorial 1', 2001, 4)
(90, '12345678P', 'Titulo 5', 'Editorial 2', 1850, 5)
(91, '12345678P', 'Titulo 6', 'Editorial 2', 1850, 1)
(92, '12345678P', 'Titulo 7', 'Editorial 2', 2001, 3)
(93, '12345678P', 'Titulo 8', 'Editorial 3', 1850, 7)
(94, '12345678P', 'Titulo 9', 'Editorial 4', 2011, 10)
(95, '12345678P', 'Titulo 10', 'Editorial 5', 2021, 9)
(96, '12345678P', 'Titulo 11', 'Editorial 6', 1850, 8)
(97, '12345678P', 'Titulo 12', 'Editorial 6', 2012, 8)
(98, '12345678P', 'Titulo 13', 'Editorial 6', 1850, 8)
(99, '12345678P', 'Titulo 14', 'Editorial 7', 1830, 8)
(100, '12345678P', 'Titulo 15', 'Editorial 1', 1830, 6)
(101, '12345678P', 'Titulo 16', 'Editorial 1', 1810, 5)
(102, '12345678P', 'Titulo 17', 'Editorial 1', 1820, 7)
(103, '12345678P', 'Titulo 1', 'Editorial 1', 1850, 1)
(104, '12345678P', 'Titulo 2', 'Editorial 2', 1851, 2)
(105, '12345678P', 'Titulo 3', 'Editorial 1', 1852, 3)
(106, '12345678P', 'Titulo 4', 'Editorial 1', 2001, 4)
(107, '12345678P', 'Titulo 5', 'Editorial 2', 1850, 5)
(108, '12345678P', 'Titulo 6', 'Editorial 2', 1850, 1)
(109, '12345678P', 'Titulo 7', 'Editorial 2', 2001, 3)
(110, '12345678P', 'Titulo 8', 'Editorial 3', 1850, 7)
(111, '12345678P', 'Titulo 9', 'Editorial 4', 2011, 10)
(112, '12345678P', 'Titulo 10', 'Editorial 5', 2021, 9)
(113, '12345678P', 'Titulo 11', 'Editorial 6', 1850, 8)
(114, '12345678P', 'Titulo 12', 'Editorial 6', 2012, 8)
(115, '12345678P', 'Titulo 13', 'Editorial 6', 1850, 8)
(116, '12345678P', 'Titulo 14', 'Editorial 7', 1830, 8)
(117, '12345678P', 'Titulo 15', 'Editorial 1', 1830, 6)
(118, '12345678P', 'Titulo 16', 'Editorial 1', 1810, 5)
(119, '12345678P', 'Titulo 17', 'Editorial 1', 1820, 7)

=== REGISTROS DE LA TABLA USUARIOS ===
(1, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(2, '12345678P', 'Nombre1', 'Apellidos 1', 11, 1)
(3, '12345678P', 'Nombre1', 'Apellidos 1', 12, 1)
(4, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(5, '12345678P', 'Nombre1', 'Apellidos 1', 1, 1)
(6, '12345678P', 'Nombre1', 'Apellidos 1', 20, 1)
(7, '12345678P', 'Paco', 'Apellidos 1', 15, 1)
(8, '12345678P', 'Nombre1', 'Apellidos 1', 15, 1)
(9, '12345678P', 'Nombre1', 'Apellidos 1', 3, 1)
(10, '12345678P', 'Paco', 'Apellidos 1', 32, 1)
(11, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(12, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(13, '12345678P', 'Nombre1', 'Apellidos 1', 11, 1)
(14, '12345678P', 'Nombre1', 'Apellidos 1', 12, 1)
(15, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(16, '12345678P', 'Nombre1', 'Apellidos 1', 1, 1)
(17, '12345678P', 'Nombre1', 'Apellidos 1', 20, 1)
(18, '12345678P', 'Paco', 'Apellidos 1', 15, 1)
(19, '12345678P', 'Nombre1', 'Apellidos 1', 15, 1)
(20, '12345678P', 'Nombre1', 'Apellidos 1', 3, 1)
(21, '12345678P', 'Paco', 'Apellidos 1', 32, 1)
(22, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(23, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(24, '12345678P', 'Nombre1', 'Apellidos 1', 11, 1)
(25, '12345678P', 'Nombre1', 'Apellidos 1', 12, 1)
(26, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(27, '12345678P', 'Nombre1', 'Apellidos 1', 1, 1)
(28, '12345678P', 'Nombre1', 'Apellidos 1', 20, 1)
(29, '12345678P', 'Paco', 'Apellidos 1', 15, 1)
(30, '12345678P', 'Nombre1', 'Apellidos 1', 15, 1)
(31, '12345678P', 'Nombre1', 'Apellidos 1', 3, 1)
(32, '12345678P', 'Paco', 'Apellidos 1', 32, 1)
(33, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(34, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(35, '12345678P', 'Nombre1', 'Apellidos 1', 11, 1)
(36, '12345678P', 'Nombre1', 'Apellidos 1', 12, 1)
(37, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(38, '12345678P', 'Nombre1', 'Apellidos 1', 1, 1)
(39, '12345678P', 'Nombre1', 'Apellidos 1', 20, 1)
(40, '12345678P', 'Paco', 'Apellidos 1', 15, 1)
(41, '12345678P', 'Nombre1', 'Apellidos 1', 15, 1)
(42, '12345678P', 'Nombre1', 'Apellidos 1', 3, 1)
(43, '12345678P', 'Paco', 'Apellidos 1', 32, 1)
(44, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(45, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(46, '12345678P', 'Nombre1', 'Apellidos 1', 11, 1)
(47, '12345678P', 'Nombre1', 'Apellidos 1', 12, 1)
(48, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(49, '12345678P', 'Nombre1', 'Apellidos 1', 1, 1)
(50, '12345678P', 'Nombre1', 'Apellidos 1', 20, 1)
(51, '12345678P', 'Paco', 'Apellidos 1', 15, 1)
(52, '12345678P', 'Nombre1', 'Apellidos 1', 15, 1)
(53, '12345678P', 'Nombre1', 'Apellidos 1', 3, 1)
(54, '12345678P', 'Paco', 'Apellidos 1', 32, 1)
(55, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(56, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(57, '12345678P', 'Nombre1', 'Apellidos 1', 11, 1)
(58, '12345678P', 'Nombre1', 'Apellidos 1', 12, 1)
(59, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(60, '12345678P', 'Nombre1', 'Apellidos 1', 1, 1)
(61, '12345678P', 'Nombre1', 'Apellidos 1', 20, 1)
(62, '12345678P', 'Paco', 'Apellidos 1', 15, 1)
(63, '12345678P', 'Nombre1', 'Apellidos 1', 15, 1)
(64, '12345678P', 'Nombre1', 'Apellidos 1', 3, 1)
(65, '12345678P', 'Paco', 'Apellidos 1', 32, 1)
(66, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(67, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(68, '12345678P', 'Nombre1', 'Apellidos 1', 11, 1)
(69, '12345678P', 'Nombre1', 'Apellidos 1', 12, 1)
(70, '12345678P', 'Paco', 'Apellidos 1', 1, 1)
(71, '12345678P', 'Nombre1', 'Apellidos 1', 1, 1)
(72, '12345678P', 'Nombre1', 'Apellidos 1', 20, 1)
(73, '12345678P', 'Paco', 'Apellidos 1', 15, 1)
(74, '12345678P', 'Nombre1', 'Apellidos 1', 15, 1)
(75, '12345678P', 'Nombre1', 'Apellidos 1', 3, 1)
(76, '12345678P', 'Paco', 'Apellidos 1', 32, 1)
(77, '12345678P', 'Paco', 'Apellidos 1', 1, 1)

=== CONSULTA AUTORES VIVOS  ===
NOMBRE      APELLIDOS      VIVO
George3     Orwell3        1
George5     Orwell5        1
George7     Orwell7        1
George8     Orwell8        1
George3     Orwell3        1
George5     Orwell5        1
George7     Orwell7        1
George8     Orwell8        1
George3     Orwell3        1
George5     Orwell5        1
George7     Orwell7        1
George8     Orwell8        1
George3     Orwell3        1
George5     Orwell5        1
George7     Orwell7        1
George8     Orwell8        1
George3     Orwell3        1
George5     Orwell5        1
George7     Orwell7        1
George8     Orwell8        1
George3     Orwell3        1
George5     Orwell5        1
George7     Orwell7        1
George8     Orwell8        1
George3     Orwell3        1
George5     Orwell5        1
George7     Orwell7        1
George8     Orwell8        1

=== CONSULTA AUTORES MUERTOS  ===
NOMBRE      APELLIDOS      VIVO
George1     Orwell1        0
George2     Orwell2        0
George4     Orwell4        0
George6     Orwell6        0
George9     Orwell9        0
George0     Orwell0        0
George1     Orwell1        0
George2     Orwell2        0
George4     Orwell4        0
George6     Orwell6        0
George9     Orwell9        0
George0     Orwell0        0
George1     Orwell1        0
George2     Orwell2        0
George4     Orwell4        0
George6     Orwell6        0
George9     Orwell9        0
George0     Orwell0        0
George1     Orwell1        0
George2     Orwell2        0
George4     Orwell4        0
George6     Orwell6        0
George9     Orwell9        0
George0     Orwell0        0
George1     Orwell1        0
George2     Orwell2        0
George4     Orwell4        0
George6     Orwell6        0
George9     Orwell9        0
George0     Orwell0        0
George1     Orwell1        0
George2     Orwell2        0
George4     Orwell4        0
George6     Orwell6        0
George9     Orwell9        0
George0     Orwell0        0
George1     Orwell1        0
George2     Orwell2        0
George4     Orwell4        0
George6     Orwell6        0
George9     Orwell9        0
George0     Orwell0        0

=== CONSULTA LIBROS ESCRITOS ANTES DE 1900 ===
ID          Isbn           Titulo         Editorial      Año            Autor          Nombre Autor   Apellidos Autor
1           12345678P      Titulo 1       Editorial 1    1850           1              George1        Orwell1
2           12345678P      Titulo 2       Editorial 2    1851           2              George2        Orwell2
3           12345678P      Titulo 3       Editorial 1    1852           3              George3        Orwell3
5           12345678P      Titulo 5       Editorial 2    1850           5              George5        Orwell5
6           12345678P      Titulo 6       Editorial 2    1850           1              George1        Orwell1
8           12345678P      Titulo 8       Editorial 3    1850           7              George7        Orwell7
11          12345678P      Titulo 11      Editorial 6    1850           8              George8        Orwell8
13          12345678P      Titulo 13      Editorial 6    1850           8              George8        Orwell8
14          12345678P      Titulo 14      Editorial 7    1830           8              George8        Orwell8
15          12345678P      Titulo 15      Editorial 1    1830           6              George6        Orwell6
16          12345678P      Titulo 16      Editorial 1    1810           5              George5        Orwell5
17          12345678P      Titulo 17      Editorial 1    1820           7              George7        Orwell7
18          12345678P      Titulo 1       Editorial 1    1850           1              George1        Orwell1
19          12345678P      Titulo 2       Editorial 2    1851           2              George2        Orwell2
20          12345678P      Titulo 3       Editorial 1    1852           3              George3        Orwell3
22          12345678P      Titulo 5       Editorial 2    1850           5              George5        Orwell5
23          12345678P      Titulo 6       Editorial 2    1850           1              George1        Orwell1
25          12345678P      Titulo 8       Editorial 3    1850           7              George7        Orwell7
28          12345678P      Titulo 11      Editorial 6    1850           8              George8        Orwell8
30          12345678P      Titulo 13      Editorial 6    1850           8              George8        Orwell8
31          12345678P      Titulo 14      Editorial 7    1830           8              George8        Orwell8
32          12345678P      Titulo 15      Editorial 1    1830           6              George6        Orwell6
33          12345678P      Titulo 16      Editorial 1    1810           5              George5        Orwell5
34          12345678P      Titulo 17      Editorial 1    1820           7              George7        Orwell7
35          12345678P      Titulo 1       Editorial 1    1850           1              George1        Orwell1
36          12345678P      Titulo 2       Editorial 2    1851           2              George2        Orwell2
37          12345678P      Titulo 3       Editorial 1    1852           3              George3        Orwell3
39          12345678P      Titulo 5       Editorial 2    1850           5              George5        Orwell5
40          12345678P      Titulo 6       Editorial 2    1850           1              George1        Orwell1
42          12345678P      Titulo 8       Editorial 3    1850           7              George7        Orwell7
45          12345678P      Titulo 11      Editorial 6    1850           8              George8        Orwell8
47          12345678P      Titulo 13      Editorial 6    1850           8              George8        Orwell8
48          12345678P      Titulo 14      Editorial 7    1830           8              George8        Orwell8
49          12345678P      Titulo 15      Editorial 1    1830           6              George6        Orwell6
50          12345678P      Titulo 16      Editorial 1    1810           5              George5        Orwell5
51          12345678P      Titulo 17      Editorial 1    1820           7              George7        Orwell7
52          12345678P      Titulo 1       Editorial 1    1850           1              George1        Orwell1